[[source]]

url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "*"
numpy = "*"
gunicorn = "*"
django-heroku = "*"
requests = "*"
more-itertools = "*"


[dev-packages]



[requires]

python_version = "3.7"
