body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: white;
}

#backgroundVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

#content {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    overflow-y: scroll;
}

nav {
    text-align: center;
    border-bottom: 1px solid #ccc;
    height: 60px;
    background-color: #fff;
    box-shadow: 0 2px 5px #333;

    margin-bottom: 100px;
}

nav img {
    height: 60px;
}

h1 {
    text-align: center;
}

#searchTextField {
    display: block;
    margin: 0 auto;
    max-width: 400px;

    height: 40px;
    border-radius: 3px;

    padding: 10px 20px;
    font-size: 1.5em;

    /*width: 400px;*/
    /* text-align: center; */
    border: none;
    box-shadow: 0 2px 5px #333;
}


button {
    background-color: #171919;
    color: white;
    border: none;
    border-radius: 3px;
    height: 50px;
    grid-column: 1/-1;
    margin-top: 20px;

    font-size: 1.5em;
    cursor: pointer;
}

/*@media only screen and (max-width: 600px) {
    #content {
        background-color: lightblue;
    }
}*/
