body {
	margin: 0;
}

nav {
	height: 60px;
	border-bottom: 1px solid #ddd;
}

main {
	display: flex;
}

section {
	box-sizing: border-box;
	height: calc(100vh - 60px);
	overflow-y: scroll;
	padding: 20px;
	width: 60%;
	
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
}

.card {
	height: 200px;
	padding: 10px;

	border: 2px solid #ddd;
	border-radius: 6px;
	cursor: pointer;
}

.card img {
	max-width: 50%;
}

.card h2 {

}

.card.selected {
	background-color: blue;
}

aside {
	height: calc(100vh - 60px);
	width: 40%;
}

#loading {
	position: fixed;
	top: 100%;
	left: 0;
	height: 100%;
	width: 100%;

	background-color: white;
	z-index: 1;
}
