body {
	margin: 0;
	color: #3f3f3f;
	font-family: sans-serif;
	font-size: 14px;
}

nav {
    border-bottom: 1px solid #ccc;
    height: 80px;
    background-color: #fff;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav img {
	margin-left: 30px;
    height: 40px;
}

.cart-container {
	display: flex;
	margin-right: 30px;

	position: relative;
}

#cart {
	margin: auto;
	background-color: #333;
	height: 40px;
	width: 40px;
	border-radius: 30px;
	font-size: 1em;
	color: #fff;
	font-size: 1em;

	position: absolute;
    left: 270px;
    top: -10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#schedule-btn {
	height: 48px;
	width: 300px;
    margin: auto;
    border: none;
    background-color: #dfeef1;
    color: #a7a7a7;
    border-radius: 3px;

    font-size: 1em;
}
#schedule-btn:not([disabled]):hover {
	cursor: pointer;
	box-shadow: 0px 1px 7px 0 rgb(255, 68, 64)
}

main {
	display: flex;
}

section {
	box-sizing: border-box;
	height: calc(100vh - 60px);
	overflow-y: scroll;
	padding: 20px;
	width: 60%;

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
}

.card {
	height: 280px;
	padding: 10px;

	border-radius: 3px;
	cursor: pointer;
}

.card img {
	max-width: 50%;
}

.card h3 {
	margin: 10px 0 0 0;
	font-weight: lighter;
}

.card p {
	margin: 3px 0 3px 0;
	font-size: 12px;
	color: #636262;
}

.rating {
	display: flex;
    margin-top: 3px;
}

.rating p {
	margin: 3px 0 3px 3px;
	font-size: 12px;
	color: #636262;
}

.card.selected {
	background-color: #d8e6e8;
}

aside {
	height: calc(100vh - 60px);
	width: 40%;
}

#loading {
	position: fixed;
	top: 100%;
	left: 0;
	height: 100%;
	width: 100%;

	background-color: white;
	z-index: 1;
}

#loading h1 {
	text-align: center;
}

.ldBar-label {
	font-family: tahoma;
	font-size: 2.1em;
	font-weight: 900
}

@media only screen and (max-width: 600px) {
    aside {
        display: none;
    }

    #selection-pane {
        grid-template-columns: 1fr;
        width: 100%;
    }

    #schedule-btn {
        width: 100px;
    }
}
