body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #171919;

    /*height: calc(100vh - 80px);*/
}

nav {
    border-bottom: 1px solid #ccc;
    height: 80px;
    background-color: #fff;

    display: flex;
    align-items: center;
}

nav img {
    margin-left: 30px;
    height: 60px;
}

h1 {
    padding-left: 30px;
    margin-bottom: 0;
    font-weight: 200;
    margin-top: 20px;
}

main {
    display: flex;
}

/*#scroll {
    overflow-x: auto;
    display: flex;
    flex-wrap: nowrap;
}*/

/*#path*/ {
/*    height: calc(100vh - 523px);
*/   /* display: flex;
    align-items: center;*/
}

.results-pane {
   width: 40%;
   height: calc(100vh - 60px);
   overflow-y: scroll;
}

.results-list {
    box-sizing: border-box;
    height: 120px;
    overflow-y: scroll;
    padding: 20px;
    border-bottom: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px;
    margin: 30px;

    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-gap: 20px;
}

/*.stop {
    position: relative;
    height: 100px;
    width: 300px;
    background-color: red;
    color: #fff;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin: 20px 0 20px 30px;
    padding: 20px;*/

  /*  display: flex;
    justify-content: center;
    align-items: center;*/
}

.stop h2 {
    margin-top: 5px;
    font-weight: 200;
    font-size: 23px;
}

/*.stop img {
    position: absolute;
    top: -16px;
    left: -4px;
}*/

.img-container img {
        position: relative;
    top: -8px;
    left: -3px;
}

.rating h2 {
    margin-bottom: 0;
}

.rating p {
    margin-top: 3px;
}

#mapid {
    height: calc(100vh - 60px);
    width: 60%;
}

@media only screen and (max-width: 600px) {
    h1 {
        padding: 0 30px 0 30px;
    }

    .stop {
        height: 140px;
    }

    #mapid {
        height: 300px;
    }
    #path {
        height: calc(100vh - 450px);
    }
}
