body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #171919;

    /*height: calc(100vh - 80px);*/
}

nav {
    border-bottom: 1px solid #ccc;
    height: 80px;
    background-color: #fff;

    display: flex;
    align-items: center;
}

nav img {
    margin-left: 30px;
    height: 40px;
}

h1 {
    padding-left: 20px;
    margin-bottom: 0;
}

#scroll {
    overflow-x: auto;
    display: flex;
    flex-wrap: nowrap;
}

#path {
    height: calc(100vh - 523px);
    display: flex;
}

.stop {
    position: relative;
    height: 100px;
    width: 300px;
    background-color: black;
    background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
    color: #fff;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin: 20px;
    padding: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.stop img {
    position: absolute;
    top: -20px;
    left: -20px;
}

#mapid {
    height: 400px;
}
