<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Destino</title>
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <script src="{% static 'main/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/index.js' %}"></script>
</head>
<body>
    {% csrf_token %}
    <div id="data" data-lat="{{ lat }}" data-lon="{{ lon }}" style="display: none;"></div>
    <video autoplay muted loop id="backgroundVideo">
        <source src="{% static 'main/agua.mp4' %}" type="video/mp4">
    </video>
    <div id="content">
        <header>
            <img src="{% static 'main/itinerus-logo.svg' %}"/>
        </header>
        <nav>
            <h1>What would you like to do in Puerto Rico?</h1>
        </nav>
        <main class="categories">
            <div data-key="adventure" class="hello">Adventure</div>
            <div data-key="culture">Culture</div>
            <div data-key="landmark">Landmarks</div>
            <div data-key="leisure">Leisure</div>
            <div data-key="nature">Nauture</div>
            <div data-key="nightlife">Nightlife</div>
            <button>Plan</button>
        </main>
    </div>
</body>
</html>
