<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Itinerus makes exploring the world easier by efficiently organizing your route to experience more in less time.">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Itinerus | Optimal Travel Planner</title>
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'main/index.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <script src="{% static 'main/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCIN8lHCwrDWKqxJQX-jhH7kgZ8sTBv7ao&libraries=places"></script>
    <script type="text/javascript" src="{% static 'main/index.js' %}"></script>

</head>
<body>
    {% csrf_token %}
    <div id="data" data-lat="{{ lat }}" data-lon="{{ lon }}" style="display: none;"></div>
    <video autoplay muted loop id="backgroundVideo">
        <source src="{% static 'main/agua.mp4' %}" type="video/mp4">
    </video>
    <div id="content">
        <nav>
            <img src="{% static 'main/itinerus-logo.svg' %}"/>
        </nav>
        <h1>Itinerize your trip! Where at?</h1>
        <input id="searchTextField" type="text" size="50" placeholder="Search" autofocus />
        <!-- <nav>
            <h1>What would you like to do in Puerto Rico?</h1>
        </nav>
        <main class="categories">
            <div data-key="adventure" class="hello">Adventure</div>
            <div data-key="culture">Culture</div>
            <div data-key="landmark">Landmarks</div>
            <div data-key="leisure">Leisure</div>
            <div data-key="nature">Nauture</div>
            <div data-key="nightlife">Nightlife</div>
            <button>Plan</button>
        </main> -->
    </div>
</body>
</html>
