<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Itinerus | Select your experience</title>

	{% load static %}

	<link rel="stylesheet" type="text/css" href="{% static 'main/planning.css' %}">
	<script src="{% static 'main/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static 'main/planning.js' %}"></script>

	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
		integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
		crossorigin=""/>
    <!-- Make sure you put this AFTER Leaflet's CSS -->
	<script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
		integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
		crossorigin=""></script>

	<link rel="stylesheet" type="text/css" href="{% static 'main/loading-bar.css' %}"/>
	<script type="text/javascript" src="{% static 'main/loading-bar.js' %}"></script>
</head>
<body>
	{% csrf_token %}
	<nav>
		<a href="/"><img src="{% static 'main/itinerus-logo.svg' %}"/></a>
		<div class="cart-container">
			<span id="estimate"></span>
			<button id="schedule-btn" disabled>Schedule</button>
			<div id="cart" style="display: none">
				<span id="numberOfItems">3</span>
			</div>
		</div>
	</nav>
	<main>
		<section id="selection-pane">
			{% for result in results %}
				<div class="card"
					data-id="{{ result.id }}"
					data-lat="{{ result.latitude }}"
					data-lon="{{ result.longitude }}"
				>
					<div class="img-container" style="height: 80%; background-image: url({{ result.image }}); background-position: center;">
					</div>
					<h3>{{ result.name }}</h3>
					{% if result.num_reviews != '-' %}
					<div class="rating">
						<img src="{{ result.rating_image_url }}" alt="rating">
						<p>{{ result.num_reviews }} Reviews</p>
					</div>
					{% endif %}
				</div>
			{% endfor %}
		</section>
		<aside id="mapid" data-slat="{{ slat }}" data-slon="{{ slon }}"></aside>
	</main>
	<div id="loading">
		<div class="ldBar label-center"
			data-preset="circle"
			data-stroke="#d8e6e8"
			style="width:200px;height:200px;margin:0 auto;margin-top:120px;"
		></div>
		<h1>Computing optimal schedule...</h1>
	</div>
</body>
</html>
