<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title></title>

	{% load static %}

	<link rel="stylesheet" type="text/css" href="{% static 'main/schedule.css' %}">
	<script src="{% static 'main/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static 'main/schedule.js' %}"></script>

	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
		integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
		crossorigin=""/>
    <!-- Make sure you put this AFTER Leaflet's CSS -->
	<script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
		integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
		crossorigin=""></script>
</head>
<body>
	{% csrf_token %}
	<nav>
		<a href="/"><img src="{% static 'main/itinerus.png' %}"/></a>
	</nav>
	<section>
		<div>
			<h1>Here's your optimized itinerus! Have fun!</h1>
		</div>
	</section>
	<div id="scroll">
		<section id="path">
		{% for result in results %}
			<div class="stop" data-lat="{{ result.latitude }}" data-lon="{{ result.longitude }}" style="background: linear-gradient(transparent, #020202ad), url({{ result.image }}); background-size: cover;">
				<h2>{{ result.name }}</h2>
				<img src="{% static 'main/numberedIcons' %}/{{ forloop.counter }}.png" height="35" width="35" />
			</div>
		{% endfor %}
		</section>
	</div>
	<section id="mapid">
	</section>
</body>
