<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Itinerus</title>

	{% load static %}

	<link rel="stylesheet" type="text/css" href="{% static 'main/schedule.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
	<script src="{% static 'main/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static 'main/schedule.js' %}"></script>

	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
		integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
		crossorigin=""/>
	<!-- Make sure you put this AFTER Leaflet's CSS -->
	<script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
		integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
		crossorigin=""></script>
</head>
<body>
	{% csrf_token %}
	<nav>
		<a href="/"><img src="{% static 'main/itinerus-logo.svg' %}"/></a>
	</nav>
	<main>
		<section class="results-pane">
			<h1>Here's your optimized itinerus! Have fun!</h1>
			{% for result in results %}
			<div class="results-list stop" data-lat="{{ result.latitude }}" data-lon="{{ result.longitude }}">
				<div class="img-container" style="background-image: url({{ result.image }}); background-position: center; background-size: cover; border-radius: 3px">
					<img class="counter" src="{% static 'main/numberedIcons' %}/{{ forloop.counter }}.png" height="35" width="35" alt="counter" />
				</div>
				<div class="info-container">
					<h3>Attraction</h3>
					<h2>{{ result.name }}</h2>
					{% if result.num_reviews != '-' %}
					<div class="rating">
						<img src="{{ result.rating_image_url }}" alt="rating">
						<p>{{ result.num_reviews }} Reviews</p>
					</div>
					{% endif %}
				</div>
			</div>
			{% endfor %}
		</section>
		<aside id="mapid">
		</aside>
	</main>
</body>
